<%= render partial: 'menu/levelmenu'%>

<div class="columns is-centered">
  <div class="column is-fullwidth">
    <h1 class="title">NFL Teams</h1>

    <ul>
      <% @teams.each do |team|%>
        <li><%= link_to team.name, team%></li>
      <% end %>
    </ul>
  </div>
</div>