<nav class="level is-primary">
  <p class="level-item has-text-centered">
    <%= link_to "Home", root_path%>
  </p>
  <p class="level-item has-text-centered">
    <%= link_to "Teams", teams_path %>
  </p>
  <p class="level-item has-text-centered">
    <strong>NFL Players: Combine Stats 2000-2018</strong>
  </p>
  <p class="level-item has-text-centered">
    <%= link_to "Positions", roles_path %>
  </p>
  <p class="level-item has-text-centered">
    <%= link_to "Players", players_path %>
  </p>
</nav>